/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */


.active {
  opacity: 1;
}


/* // swipwer styles */
 .swiper .swiper-button-prev{
    left: 45%;
    bottom: -5%,
}

/* swiper button disabled arrow */
.swiper .swiper-button-disabled svg {
  fill: #d5cdcd;
}


/* .swiper .swiper-button-prev::after {
  content: 'none';
}

.swiper .swiper-button-next {
  right: 45%;
  bottom: -5%,
}

.swiper .swiper-button-next::after {
  content: 'none';
} */
